
    ::selection { background:#0a4; color:#fafafa; }
    html { background:#fafafa; color:#333; font-family:sans-serif; }
    body { width:96%; margin:0 auto; }
    @media (min-width:12em) {
        .site-logo { font-size:2em }
    }
    @media (min-width:20em) {
        .site-logo { font-size:3em }
    }
    main > article { border-left:1em solid #ed3; padding-left:.6em; }