[submodule "_package/chromosome"]
	path = _package/chromosome
	url = git://github.com/airve/chromosome.git
[submodule "_package/traits"]
	path = _package/traits
	url = git://github.com/airve/traits.git
[submodule "_package/phat"]
	path = _package/phat
	url = git://github.com/airve/phat.git
[submodule "_package/slash"]
	path = _package/slash
	url = git://github.com/ryanve/slash.git
[submodule "_package/parsedown"]
	path = _package/parsedown
	url = git://github.com/erusev/parsedown.git
